<div class="post-item__card" (click)="detailsModal.openDialog()">
  <div class="st__font--weight">
    {{ details().title }}
  </div>
  <div>{{ details().body }}</div>
</div>

<st-dialog #detailsModal heading="Details">
  <div class="st__font--weight">
    {{ details().title }}
  </div>
  <p>{{ details().body }}</p>
  <div class="st__font--weight"><i>-{{ details().user?.name}}</i></div>
  <div class="st-flex st-flex__row--reverse">
    <button class="pure-button pure-button-primary" (click)="detailsModal.closeDialog()">submit</button>
  </div>
</st-dialog>
